@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
}

.featured-products-items {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  padding: 0;
  margin: 0;
}